---
import BaseHead from "@/components/BaseHead"
import NavBar from "@/components/NavBar"
import Footer from "@/components/Footer"

const {
  canonicalURL, title, description, ogImage, datePublished
} = Astro.props
---

<html lang="en-US">
  <head>
    <BaseHead
      canonicalURL={canonicalURL}
      title={title}
      description={description}
      ogImage={ogImage}
      datePublished={datePublished}
    />
  </head>

  <body class="home-template">
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>